.filterLabel {
  font-size: 15px;
  color: rgb(49, 48, 61);
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

.filterInput {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(236, 233, 233);
  outline-color: rgb(250, 225, 192);
  border: none;
}
