.form {
  width: 540px;
  height: 230px;
}

.input {
  background: #fff;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  opacity: 1;
  text-indent: 20px;
  transition: all 0.2s ease-in-out;
}

.input:focus {
  background-color: rgb(215, 215, 215);
}

label {
  font-size: 16px;
  font-weight: 800;
  opacity: 0.8;
  text-transform: uppercase;
}
